.hidden {
  display: none !important;
}

.container {
  padding: 50px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

a {
  color: white;
  font-family: 'Nova Round', serif;
  font-size: 2rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-item .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.list-item h2 {
  margin: 5px 0;
}

.list-item .fa-heart {
  margin: 10px;
}

.list-item img {
  width: 25%;
  height: auto;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header {
  max-width: 100%;
  border-bottom: 2px solid #ccc;
  display: flex;
}

.fa-heart {
  font-size: 35px;
  display: flex;
  justify-self: center;
}

.fa-solid {
  color: #a0144c;
}

.menu {
  align-items: flex-end;
  padding: 50px;
}

.arteye {
  align-items: flex-start;
  float: left;
  padding: 50px;
  width: 100%;
}

.three-fourths {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.one-fourth {
  text-align: center;
  flex-basis: 25%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.bi,
.bi-eye {
  width: 70px;
  height: 70px;
}

.image-div img {
  max-width: 90%;
  align-items: center;
  justify-items: center;
  padding: 1.5rem;
}

.button-row {
  justify-self: center;
  display: flex;
}

@media screen and (width >= 768px) {
  .parent {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }

  .one-fourth {
    text-align: left;
    flex-basis: 25%;
  }

  .three-fourths {
    flex-basis: 75%;
    max-width: 75%;
    height: auto;
    background-size: contain;
  }
}
