h1 {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.no-saved {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 2rem;
  justify-self: center;
}

p {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 1rem;
}

.sidenav {
  height: 15%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  color: white;
  background-color: #009e89;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (height <= 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (width >= 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media screen and (width >= 1200px) {
  h1 {
    font-family: 'Nova Round', serif;
    font-weight: 400;
    font-size: 30px;
  }

  h2 {
    font-family: 'Nova Round', serif;
    font-weight: 400;
    font-size: 30px;
  }

  p {
    font-family: 'Nova Round', serif;
    font-weight: 400;
    font-size: 18px;
  }
}
