h1 {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.no-saved {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 2rem;
  justify-self: center;
  /* border: 2px solid purple; */
}

p {
  font-family: 'Nova Round', serif;
  font-weight: 400;
  font-size: 1rem;
}

.sidenav {
  height: 15%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  color: white;
  background-color: #009e89; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;

  /* background-color: #009e89;
  color: white; */
  display: block;

  /* transition: 0.3s; */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (height <= 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (width >= 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media screen and (width >= 1200px) {
  h1 {
    font-family: 'Nova Round', serif;
    font-weight: 400;
    font-size: 30px;
  }

  h2 {
    font-family: 'Nova Round', serif;
    font-weight: 400;
    font-size: 30px;
  }

  p {
    font-family: 'Nova Round', serif;
    font-weight: 400;
    font-size: 18px;
  }
}
